<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>知乎助手</title>
    <link rel="stylesheet" href="../../static/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="main.css">
    <script src="../../static/vendor/layui/layui.js"></script>
    <script src="../../static/vendor/vue/vue.js"></script>
</head>
<body>
<div class="main" id="main">
    <h1>
        {{getMessage('EXT_NAME')}}
    </h1>
    <hr class="layui-border-orange">
    <div v-if="items.length">
        <ul class="layui-timeline">
            <li class="layui-timeline-item" v-for="item in items">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">{{formDate(item.date)}}</h3>
                    <h4>{{item.title}}</h4>
                    <p>
                        {{item.url}}
                        {{item.author}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <hr>
    <div class="layui-row margin-five" id="page">
    </div>
    <hr>

    <div class="layui-container">
        <div class="layui-row margin-five">
            <div class="layui-col-xs8">
                <button class="layui-btn layui-btn-radius layui-btn-primary" @click="openPage(2)">
                    {{getMessage('BTN_DONATION')}}
                    捐赠
                </button>
            </div>
            <div class="layui-col-xs4">
                <a href="https://github.com/maoSting/zhihu/issues" target="_blank">有问题</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="main.js"></script>
</body>
</html>