<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>知乎历史助手</title>
    <link rel="stylesheet" href="../../static/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="main.css">
    <script src="../../static/vendor/layui/layui.js"></script>
    <script src="../../static/vendor/vue/vue.js"></script>
</head>
<body>
<div class="main" id="main">
    <h1>
        {{getMessage('EXT_NAME')}}
    </h1>
    <hr class="layui-border-orange">
    <div v-if="items.length">
        <ul class="layui-timeline">
            <li class="layui-timeline-item" v-for="item in items">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text padding-five">
                    <div class="layui-row">
                        <div class="layui-col-md9">
                            <h3 class="layui-timeline-title">{{formDate(item.date)}}</h3>
                            <h4><b>{{item.title}}</b></h4>
                            <p>
                                <em>{{item.author}}</em>
                            </p>
                        </div>
                        <div class="layui-col-md3">
                            <button class="layui-btn" @click="openUrl(item.url)">{{getMessage('BTN_OPEN')}}</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <hr>
    <div class="layui-row margin-five" id="page">
    </div>
    <hr>

    <div class="layui-container">
        <div class="layui-row margin-five">
            <div class="layui-col-xs8">
                <button class="layui-btn layui-btn-radius layui-btn-primary" @click="openPage(2)">
                    {{getMessage('BTN_DONATION')}}
                </button>
            </div>
            <div class="layui-col-xs4">
                <a href="https://github.com/maoSting/zhihu/issues" target="_blank">{{getMessage('BTN_BUGS')}}</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="main.js"></script>
<script language="JavaScript">
    // google 分析
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-197029098-2']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>